* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vw;
}

.nine li {
	width: 31vw;
	padding-bottom: 31vw;
	background-color: orange;
	border-radius: 2vw;
	margin: 1vw 0vw 1vw 1vw;
	list-style: none;
	float: left;
}

</style>
