* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
}
.nine ul{
	 display:flex;
	 flex-wrap: wrap;
	 justify-content:space-between;
}
.nine li {
	width: 31%;
	padding-bottom: 31%;
	background-color: orange;
	border-radius: 5%;
	margin: 1%;
	list-style: none;
   
}
